/* main container */
div#notesee {
  font-size: 12px;
}

/* the menu */
div#notesee-menu {
  background-color: #000;
  color: #ccc;
  -moz-box-shadow: 2px 2px 10px #333;
  -webkit-box-shadow: 2px 2px 10px #333;
}
div#notesee-menu span {
  display: block;
  padding: 2px 8px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}
div#notesee-menu span a {
  color: #ccc;
  text-decoration: none;
  display: block;
}
div#notesee-menu span a:hover {
  background-color: transparent;
}
div#notesee-menu span.notesee-menu-title {
  background-color: #33ecfe;
  color: #333;
}

/* notesee items */
div#notesee-items {

}
div#notesee-items div.notesee-item {
  cursor: move;
  padding: 8px;
  width: 210px;
  background-color: #fff;
  border: 1px solid #333;
  color: #fff;
  -moz-box-shadow: 2px 2px 10px #333;
  -webkit-box-shadow: 2px 2px 10px #333;
}
div#notesee-items div.notesee-item div.notesee-item-text {
  line-height: 18px;
}
div#notesee-items div.notesee-item div.notesee-item-text textarea {
  font-family: Arial;
  font-size: 12px;
  width: 200px;
  background-color: #eee;
  color: #333;
  padding: 4px;
  height: 90px;
  overflow:hidden;
  overflow-y: hidden;
  overflow-x: hidden; 
  border: 1px solid #999;
}

div#notesee-items div.notesee-item div.notesee-item-actions {
  margin-top: 4px;
  text-align: right;
}
div#notesee-items div.notesee-item div.notesee-item-actions span {
  background-color: #ccc;
  color: #333;
  cursor: pointer;
  border: 1px solid #333;
  padding: 2px 4px;
  margin-left: 4px;
}
div#notesee-items div.notesee-item div.notesee-item-actions span.action-save {
  display: none;
  background-color: #33ecfe;
}